<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <form method="post">
    <input type="text" name="title">
    <br>
    <textarea cols="30" rows="7" name="body"></textarea>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>