<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
            «Кин-дза-дза́!» — полнометражный двухсерийный трагикомедийный художественный фильм в жанре антиутопии, снятый на киностудии «Мосфильм» в 1986 году режиссёром Георгием Данелией. Картина «Кин-дза-дза!» оказала влияние на современную русскоязычную культуру — вымышленные слова.
          </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">Гедеван</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
            «Кин-дза-дза́!» — полнометражный двухсерийный трагикомедийный художественный фильм в жанре антиутопии, снятый на киностудии «Мосфильм» в 1986 году режиссёром Георгием Данелией. Картина «Кин-дза-дза!» оказала влияние на современную русскоязычную культуру — вымышленные слова.
          </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">Гедеван</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
      </div>

      <% include layout/sidebar.ejs %>

    </div>
  </div>

  <% include layout/footer.ejs %>