<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <% for (var i = 0; i < posts.length; i++) { %>
          <div class="post">
            <div class="top">
              <h2>
                <%=posts[i].title %>
              </h2>
            </div>
            <div class="body">
              <p><%=posts[i].body %></p>
            </div>
            <div class="bottom">
              <div class="author">
                Автор:
                <a href="/">Гедеван</a>
              </div>
              <a href="/">Комментарии</a>
            </div>
          </div>
          <% } %>

            <div class="pagination">
              <% if (current > 2) { %>
                <a class="new" href="/archive/<%= Number(current) - 1 %>">← К новым</a>
                <% } %>
                  <% if (current == 2) { %>
                    <a class="new" href="/">← На главную</a>
                    <% } %>
                      <% if (pages > 0 && current < pages) { %>
                        <a class="old" href="/archive/<%= Number(current) + 1 %>">К старым →</a>
                        <% } %>

            </div>


      </div>

      <% include layout/sidebar.ejs %>

    </div>
  </div>

  <% include layout/footer.ejs %>