<footer class="footer">
  <div class="container">
    footer
  </div>
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>

</body>

</html>