.post {
  display: flex;
  flex-direction: column;
  border: 1px solid $greyColor;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  .top {
    h2 {
      margin-top: 0;
    }
  }
  .body {
    p {
      text-align: justify;
    }
    img {
      width: 100%;
    }
  }

  .bottom {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }
}

.add-post {
  margin-bottom: $freeSpace;
  padding: $freeSpace;
  width: 100%;
  min-height: 100px;
  border: 1px solid $greyColor;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  h2 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  form {
    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: $freeSpace * 2;
      }
    }
    #post-body {
      min-height: 200px !important;
      background-color: $whiteColor !important;
      border: 1px solid $greyColor;
      padding: 8px 10px;
      outline: none;
    }
  }

  #fileinfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $greyColor;
    padding: $freeSpace;
    background-color: $whiteColor;
    border-radius: $borderRadius;
    margin-bottom: $freeSpace;

    .custom-file-upload {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border: 1px solid $greyColor;
      padding-left: $freeSpace;
      padding-right: $freeSpace;
      display: flex;
      align-items: center;
      border-radius: $borderRadius;
      height: 50px;

      input[type='file'] {
        display: none;
      }
    }

    .img-container {
      height: 50px;
      border: 1px solid $greyColor;
      margin-right: $freeSpace;

      img {
        height: 100%;
      }
    }
  }
}
