.post {
  display: flex;
  flex-direction: column;
  border: 1px solid $greyColor;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  .top {
    h2 {
      margin-top: 0;
    }
  }
  .body {
    p {
      text-align: justify;
    }
  }

  .bottom {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }
}
